#hero-carousel {
    border-radius: 10px !important;
    position: relative;
}

#hero-carousel .carousel-item img {
    border-radius: 10px;
    height: 70vh;
    object-fit: cover;

    @media (max-width: 1024px) {
        height: 250px;
    }
}

.book-form {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-gray) !important;
    z-index: 1;
    border-radius: 10px
}

.book-form-body {
    padding: 20px;
}

/* Responsive */
@media (max-width: 1024px) {

    .book-form {
        position: static;
        transform: none;
        margin-top: 1rem;
        width: 100%;
    }

}

.section {
    margin-top: var(--section-space);

}

.about-section {
    padding: 20px 0px;
    border-radius: 10px;

    h2 {
        margin-bottom: 16px;
    }

    p {
        line-height: 1.6;
        font-size: 12px;
    }
}

.about-car>img {
    border-radius: 10px;
    height: 100%;
}

/* .about-car{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.about-experience {
    background-color: black;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;

    p {
        font-size: 24px;
        font-weight: bolder;
        margin: 0;
    }

    span {
        font-size: 14px;
    }
}

.about-empty-card {
    height: 100%;
    background-color: var(--primary-gray);
    margin-top: 20px;
    border-radius: 10px;
}

.why-choose-items {
    /* display: flex; */
    /* gap: 20px; */
    margin-top: 20px;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.why-choose-items :nth-child(2) {
    
    background-color: black !important;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.why-choose-icon{
    background-color: var(--primary-gray);
    height: 50px;
    width: 70px;
    border-radius: 10px;
}
.why-choose-cover p{
    font-size:x-small;
    margin: 20px 0;
}
.car-brands{
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}
.car-brands img{
    height: 50px;
    width:auto;
}
.newsletter-section{
    margin-top: var(--section-space);
    background-color: #F7F7F7;
    padding: 20px;
}